<div class="my-modal">
	<div style="width: 30%; display:flex; justify-content: center;">
	<h3>@Message</h3>
	</div>
	<button style="margin-top:1rem; border: 2px solid green; color:green;" class="button" @onclick="Close">OK!</button>
</div>

@code {
	[Parameter]
	public string? Message { get; set; }
	[Parameter]
	public Action? OnClose { get; set; }

	private void Close()
	{
		OnClose?.Invoke();
	}
}
